---
import { SEOMetadata } from "astro-seo-metadata";
import "@fontsource-variable/cairo";
import Header from "../components/Header.astro";

const { title, description, language, direction } = Astro.props;
let font = `"Inter Variable", 'inter', sans-serif`;
if(language == "ar") {
	let font = `"Cairo Variable", 'inter', sans-serif`;
}
---

<!DOCTYPE html>
<html lang={language} dir={direction}>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        
        <SEOMetadata siteName={title} title={title} description={description} image={"https://ace.org.sa/logo.jpg"} favicon={"/favicon.svg"} author="Mohannad Otaibi" copyright="ISC" astroSitemap={false} canonicalUrl={Astro.url.toString()} type={"website"} astroGenerator={true} />
    </head>
    <body class="
	dark:bg-gradient-to-tr dark:from-sky-950 dark:to-sky-800 
	h-screen w-full 
	bg-gradient-to-tr from-sky-200 to-emerald-200">
		<Header language={language} />
        <slot />
    </body>
</html>
<style define:vars={{ font }}>
	body {
		font-family: var(--font);
	}
</style>