--- 
import { SEOMetadata } from 'astro-seo-metadata';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<SEOMetadata
			siteName={title}
			title={title}
			description={'Saudi-based non-profit association for cost engineers and quantity surveyors'}
			image={'https://ace.org.sa/logo.jpg'}
			favicon={'/favicon.svg'}
			author="Mohannad Otaibi"
			copyright="ISC"
			astroSitemap={false}
			canonicalUrl={Astro.url.toString()}
			type={'website'}
			astroGenerator={true}
		/>
	</head>
	<body class="
	dark:bg-gradient-to-tr dark:from-sky-950 dark:to-sky-800 h-screen w-full
	bg-gradient-to-tr from-sky-200 to-emerald-200
	">
		<slot />
	</body>
</html>
